@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap') ;

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 100vh;
    background-color:#fca5a5;
    color: black;
  }
  
  main {
    border: 1px solid white;
    text-align: center;
    height: 100%;
  }
  
  p {
    padding: 2rem;
    text-align: left;
    font-size: large;
  }
  